.banner-content__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    height: 600px;
    overflow: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}
.banner-content{
    padding: 10px;
    height: 220px;
    border-radius: 8px;
    border: thin solid var(--secondary-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 10px;
        border: none;
        background-color: #FFEBEB;
        &:hover{
            background-color: #FFEBEB !important;
            opacity: .8;
        }
        &:active{
            transform: scale(0.98);
        }
    }
}